<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Using node_modules without Bundlers</title>
  </head>
  <body>
    <h1>Using node_modules without bundlers</h1>
    <p>
      Open up the console. You should see some
      <code>console.log</code> statements which tell you the libraries are
      imported successfully :)
    </p>

    <script src="js/main.js" type="module"></script>
  </body>
</html>
