<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subdomain</title>

    <style>
      h1,
      a,
      iframe,
      button {
        display: block;
      }

      * + * {
        margin-top: 1em;
      }
    </style>
  </head>
  <body>
    <h1>Subdomain</h1>

    <p>The following iframe sets cookies from <code>lvh.me</code></p>
    <iframe src="http://lvh.me:3000/set-cookies"></iframe>

    <button id="host-server">Send cookies to Host's server</button>

    <script>
      const domainServerButton = document.querySelector("#host-server");
      domainServerButton.addEventListener("click", (event) => {
        fetch("http://lvh.me:3000/log", {
          method: "post",
          credentials: "omit",
        })
          .then(console.log)
          .catch(console.log);
      });
    </script>
  </body>
</html>
